.equipment-player-image {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%);
	width: 220px;
	height: 286px;
	background-size: cover;
}

.equipment-slot-container {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.equipment-slot-container-left {
	top: 30px;
	left: 30px;
	width: 60px;
}

.equipment-slot-container-right {
	top: 30px;
	right: 30px;
	width: 60px;
}

.equipment-slot-container-bottom {
	bottom: 30px;
	left: 30px;
	height: 60px;
}

.equipment-slot-empty {
	position: relative;
	width: 60px;
	height: 60px;
	background: rgba(0, 0, 0, 0.6);
	outline: 1px solid #333;

	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.equipment-slot {
	position: relative;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: inset 1px 1px 1px #333, inset -1px -1px 1px #333;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.equipment-slot:hover {
	background-color: rgba(0, 0, 0, 0.3);
	filter: brightness(1.1);
	box-shadow: inset 1px 1px 3px #333, inset -1px -1px 3px #333;
}