.forjamago-tab-container {
	position: absolute;
	width: 100%;
	height: 30px;
	display: flex;
	flex-wrap: wrap;

	font-weight: bold;
	text-align: center;
	color: var(--white);
	line-height: 32px;
}

.forjamago-tab {
	position: relative;
	width: 50%;
	height: 100%;
	background: var(--bg2);
	outline: 1px solid black;
	cursor: pointer;
}

.forjamago-tab:hover {
	filter: brightness(1.2);
}

.forjamago-tab-selected {
	position: relative;
	width: 50%;
	height: 100%;
	background: var(--bg4);
	outline: 1px solid black;
	pointer-events: none;
}

/* TRITURADORA */
.forjamago-crusher-scene {
	display: none;
	position: absolute;
	width: 675px;
	top: 31px;
	bottom: 0px;
	background: var(--bg2);
}

/* MAGUEO */
.forjamago-mag-scene {
	display: none;
	position: absolute;
	width: 675px;
	top: 31px;
	bottom: 0px;
	flex-wrap: wrap;
}

.mag-history-container {
	position: relative;
	height: 100%;
	width: 225px;
	background: var(--bg1);
}

.mag-work-container {
	position: relative;
	height: 100%;
	width: 449px;
	display: flex;
	flex-wrap: wrap;
	outline: 1px solid black;
}

.mag-item-container {
	position: relative;
	height: 21%;
	width: 100%;
	background: var(--bg3);
	border-bottom: 1px solid black;
}

.mag-rune-container {
	position: relative;
	height: 79%;
	width: 100%;
	background: var(--bg2);
}

.mag-rune-guide-container {
	position: absolute;
	height: 20px;
	width: 100%;
	background: var(--bg4);
	border-bottom: 1px solid black;
	display: flex; 
	flex-wrap: wrap;
	color: var(--white);
	text-align: center;
	font-size: 14px;
	line-height: 22px;
}

.mag-rune-guide-label:nth-child(1) {
	width: 15%;
}
.mag-rune-guide-label:nth-child(2) {
	width: 10%;
}
.mag-rune-guide-label:nth-child(3) {
	width: 30%;
	text-align: left;
	padding-left: 20px;
}
.mag-rune-guide-label:nth-child(4) {
	width: 15%;
}

.mag-rune-stat-container {
	position: absolute;
	width: 100%;
	top: 21px;
	bottom: 0px;
}

.mag-rune-stat-row {
	position: relative;
	width: 100%;
	height: 30.4px;
	display: flex;
	flex-wrap: wrap;
	color: var(--white);
	text-shadow: 1px 1px 1px black;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}

.mag-rune-stat-row:nth-child(2n) {background-color:  var(--bg1);}

.mag-rune-stat-min {
	position: relative;
	width: 15%;
}

.mag-rune-stat-max {
	position: relative;
	width: 10%;
}

.mag-rune-stat-effect {
	position: relative;
	width: 30%;
	text-align: left;
	padding-left: 20px;
}

.mag-rune-stat-modif {
	position: relative;
	width: 15%;
}	

.mag-rune-stat-r1 {
	position: relative;
	width: 8%;
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

.mag-rune-stat-r2 {
	position: relative;
	width: 8%;
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

.mag-rune-stat-r3 {
	position: relative;
	width: 8%;
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}


/*INVENTORY*/
.forjamago-inventory-container {
	position: absolute;
	right: 0px;
	top: 31px;
	bottom: 0px;
	width: 225px;
	outline: 1px solid black;
	z-index: 1;
	overflow: hidden;
}

.forjamago-inventory-tab-container {
	position: absolute;
	width: 100%;
	height: 24px;
	display: flex;
	flex-wrap: wrap;

	font-weight: bold;
	text-align: center;
	color: var(--white);
	line-height: 26px;
}

.forjamago-inventory-tab {
	position: relative;
	width: 50%;
	height: 100%;
	background: var(--bg2);
	outline: 1px solid black;
	font-size: 12px;
	cursor: pointer;
}

.forjamago-inventory-tab-selected {
	position: relative;
	width: 50%;
	height: 100%;
	font-size: 12px;
	background: var(--bg4);
	outline: 1px solid black;
	pointer-events: none;
}

.forjamago-inventory-slot-container {
	position: absolute;
	top: 40px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	overflow: hidden;
	overflow-y: auto;
}

.forjamago-inventory-slot-container::-webkit-scrollbar { width: 8px; }
.forjamago-inventory-slot-container::-webkit-scrollbar-track { background: transparent; }
.forjamago-inventory-slot-container::-webkit-scrollbar-thumb { 
	outline: 1px solid black;
    background: var(--bg0); 
    border-radius: 2px;
}

.forjamago-inventory-slot-empty {
	position: relative;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px black;
	border-radius: 5px;
}

.forjamago-inventory-slot {
	position: relative;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px black;
	border-radius: 5px;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.forjamago-inventory-slot:hover {
	background-color: rgba(0, 0, 0, 0.3);
	filter: brightness(1.1);
}

.mag-item-selected-slot {
	position: absolute;
	top: 12px;
	left: 150px;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px black;
	border-radius: 5px;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.mag-rune-selected-slot {
	position: absolute;
	top: 12px;
	right: 150px;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px black;
	border-radius: 5px;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.mag-fusion-button {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
	height: 24px;
	width: 230px;
	font-size: 14px;
	letter-spacing: 2px;
	color: var(--white);
	text-align: center;
	line-height: 26px;
	font-weight: bold;
	
	box-shadow: 0 0 1px black;
  	background: linear-gradient(to bottom, #f9a06e 0%, #e85c26 100%);

  	border-radius: 3px;
  	border: 1px inset #a5753a;
  	cursor: pointer;
 
}

.mag-fusion-button:hover {
	filter: brightness(1.2);
}


.mag-history-text {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 5px;
	bottom: 10px;
	color: var(--white);
	overflow-y: auto;
}

.mag-history-text::-webkit-scrollbar { width: 8px; }
.mag-history-text::-webkit-scrollbar-track { background: transparent; }
.mag-history-text::-webkit-scrollbar-thumb { 
	outline: 1px solid black;
    background: var(--bg0); 
    border-radius: 2px;
}

.history-item {
	width: 200px;
	border-bottom: 3px dashed var(--white);
}