.game-container {
    position: relative;
    height: 300px;
    width: 100%;
    background: var(--bg1); 
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    background-size: cover;
    overflow: hidden;
}

.game-ubication-name {
    position: relative;
    width: 100%;
    height: 38px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 38px;
    font-size: 22px;
    color: var(--white);
    text-shadow: 1px 1px 2px black;
}

.game-ubication-option-container {
    position: absolute;
    top: 55px;
    left: 20px;
    right: 20px;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    gap: 14px;

    overflow-y: auto;
}

.game-ubication-option-container::-webkit-scrollbar { width: 16px; }
.game-ubication-option-container::-webkit-scrollbar-track { background: transparent; }
.game-ubication-option-container::-webkit-scrollbar-thumb { 
    outline: 1px solid black;
    background: var(--white); 
    border-radius: 2px;
}

.game-container-option {
    position: relative;
    width: 140px;
    height: 90px;
    border: 2px solid var(--white);
    outline: 1px solid black;
    color: var(--white);
    box-shadow: 0 0 5px black, inset 1px 1px 1px black, inset -1px -1px 1px black;
    border-radius: 5px;
    background-position: center;
    background-size: 120%;
    cursor: pointer;

    overflow: hidden;
    transition: color .2s, background-size 0.8s;
}

.game-container-option:hover {
    color: var(--yellow);
    background-size: 100%;
}

.game-container-option-tittle {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    
    border-top: 1px solid black;

    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

 