.main-container {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    gap: 20px; 
    min-width: 1300px;
    margin-top: 20px; 
    width: 100%; 
}

.left-container {
    width: 280px;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    margin-left: auto; 
}

.center-container {
    width: 540px;
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.right-container {
    width: 280px;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    margin-right: auto; 
}

