.gathering-alert {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.8);	
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	text-shadow: 1px 1px 2px black;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	color: var(--white);
}

.gathering-recollect-container {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: var(--bg1);
	outline: 1px solid black;
	box-shadow: 0 0 15px var(--white);
	
	overflow: hidden;
}

.gathering-recollect-container-charge {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 0%;
	background: var(--green);
	transition: .1s;
}

.gathering-recollect-container-image {
	position: absolute;
	width: 100%;
	height: 100%;

	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}

.gathering-button-container {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.gathering-button {
	position: relative;
	height: 30px;
	width: 110px;
	background: var(--bg2);
	outline: 1px solid black;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	color: var(--white);
	line-height: 30px;
	text-shadow: 1px 1px 2px black;
	transition: .15s;
}

.gathering-button-selected {
	position: relative;
	height: 30px;
	width: 110px;
	background: var(--bg4);
	outline: 1px solid black;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	color: var(--white);
	line-height: 30px;
	text-shadow: 1px 1px 2px black;
	pointer-events: none;
}

.gathering-button:hover {
	background: var(--bg3);
	box-shadow: 0 0 3px black;
}
