.inventory-search-bar {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 30px;
	/*width: 350px;*/

	background-color: #d6d6d6;
	outline: none;

	font-size: 16px;
	color: #3a3312;
	
	padding-left: 5px;
}

.inventory-tab-container  {
	position: absolute;
	top: 65px;
	height: 20px;
	left: 20px;
	right: 20px;
	display: flex;
	flex-wrap: wrap;
}

.inventory-tab {
	position: relative;
	width: 25%;
	text-align: center;
	color: var(--white);
	background-color: var(--bg0);
	cursor: pointer;
	outline: 1px solid black;
}

.inventory-tab:hover { filter: brightness(1.3); }

.inventory-tab-selected {
	position: relative;
	width: 25%;
	text-align: center;
	font-weight: bold;
	color: var(--white);
	background: var(--bg3);
	cursor: default;
	outline: 1px solid black;
}

.inventory-item-container {
	position: absolute;
	top: 100px;
	left: 20px;
	right: 20px;
	bottom: 45px;
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
	overflow: hidden;
	overflow-y: auto;
}

.inventory-item-container::-webkit-scrollbar { width: 16px; }
.inventory-item-container::-webkit-scrollbar-track { background: transparent; }
.inventory-item-container::-webkit-scrollbar-thumb { 
	outline: 1px solid black;
    background: var(--bg0); 
    border-radius: 2px;
}

.inventory-slot-empty {
	position: relative;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px black;
	border-radius: 5px;
}

.inventory-slot {
	position: relative;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px black;
	border-radius: 5px;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.inventory-slot:hover {
	background-color: rgba(0, 0, 0, 0.3);
	filter: brightness(1.1);
}

.isq {
	position: absolute;
	right: 5px;
	bottom: 0px;
	color: var(--white);
	text-align: right;
	font-size: 12px;
}

.inventory-kamas {
	position: absolute;
	bottom: 15px;
	right: 30px;
	height: 20px;
	width: 200px;
	text-align: right;
	font-weight: bold;
	color: var(--yellow);
}

.bank-button-container {
	position: absolute;
	bottom: 15px;
	right: 20px;
	left: 20px;
	height: 20px;
	
	text-align: right;
	display: flex;
	flex-wrap: wrap;
	
	text-align: center;
	justify-content: space-between;
}

.bank-button {
	position: relative;
	width: 24%;
	font-size: 13px;
	height: 22px;
	line-height: 24px;
	color: var(--white);
	background-color: var(--bg0);
	outline: 1px solid black;
	cursor: pointer;
}

.bank-button:hover { filter: brightness(1.3); }