.inventory-search-bar {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 20px;
	width: 350px;

	background-color: var(--white);
	border: 2px solid #3a3312;
	outline: none;

	font-size: 16px;
	color: #3a3312;
	
	padding-left: 5px;
}

.inventory-filter {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 22px;
	width: 180px;

	background-color: var(--white);
	border: 2px solid #3a3312;
	outline: none;

	font-size: 16px;
	color: #3a3312;
}

.inventory-tab-container  {
	position: absolute;
	top: 65px;
	height: 20px;
	left: 20px;
	right: 20px;
	display: flex;
	flex-wrap: wrap;
}

.inventory-tab {
	position: relative;
	width: 25%;
	text-align: center;
	color: var(--white);
	background-color: #333;
	cursor: pointer;
}

.inventory-tab:hover {filter: brightness(1.3);}

.inventory-tab-selected {
	position: relative;
	width: 25%;
	text-align: center;
	color: #333;
	font-weight: bold;
	background: var(--p2);
	box-shadow: inset 1px 1px 1px #333, inset -1px -1px 1px #333;
	cursor: default;
}

.inventory-item-container {
	position: absolute;
	top: 100px;
	left: 20px;
	right: 20px;
	bottom: 45px;
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
	overflow: hidden;
	overflow-y: auto;
}

.inventory-slot-empty {
	position: relative;
	width: 60px;
	height: 60px;
	background: rgba(0, 0, 0, 0.6);
	outline: 1px solid #333;
}

.inventory-slot {
	position: relative;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: inset 1px 1px 1px #333, inset -1px -1px 1px #333;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.inventory-slot:hover {
	background-color: rgba(0, 0, 0, 0.3);
	filter: brightness(1.1);
	box-shadow: inset 1px 1px 3px #333, inset -1px -1px 3px #333;
}

.isq {
	position: absolute;
	right: 5px;
	bottom: 0px;
	color: var(--white);
	text-align: right;
	font-size: 12px;
}

.inventory-kamas {
	position: absolute;
	bottom: 15px;
	right: 30px;
	height: 20px;
	width: 200px;
	text-align: right;
	font-weight: bold;
	color: #333;
}
