.job-tab-container {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	display: flex;
 	flex-wrap: wrap;
 	overflow: hidden;
 	overflow-y: auto;
}

.job-tab-container::-webkit-scrollbar { width: 12px; }
.job-tab-container::-webkit-scrollbar-thumb { 
	background: linear-gradient(180deg, #eb642e 0%, #e85c26 50%, #eb642e 100%); 
	box-shadow: inset 1px 0 1px black;
}
.job-tab-container::-webkit-scrollbar-track { 
	box-shadow: inset 1px 0 1px black;
	background: #222; 
}

.job-tab {
	position: relative;
	width: 100%;
	height: 74px;
	background: var(--bg5);
	cursor: pointer;
}
/*
.job-tab:nth-child(2n) {
	background: var(--bg5);
	
}*/

.job-tab:hover {
	filter: brightness(1.2);
}

.job-tab-image {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
	height: 60px;
	width: 60px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.job-tab-name {
	position: absolute;
	top: 12px;
	left: 100px;
	color: var(--white);

	font-size: 18px;
}

.job-tab-level {
	position: absolute;
	top: 12px;
	right: 40px;
	color: var(--white);

	font-size: 18px;
}

.job-tab-exp-bar {
	position: absolute;
	bottom: 20px;
	left: 100px;
	right: 40px;
	height: 12px;
	background: var(--bg0);
	border-radius: 3px;
	outline: 1px solid black;
	overflow: hidden;
}

.job-tab-exp {
	position: relative;
	height: 100%;
	background: var(--blue);
	border-right: 1px solid black;
}

/* jobs */
.job-settings-container {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 85px;
	background: var(--bg1);
}

.job-recipe-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 375px;
	background: #2f2925;
 	border-top: 1px solid black;
 	overflow: hidden;
 	overflow-y: auto;
}

.job-recipe-container::-webkit-scrollbar { width: 12px; }
.job-recipe-container::-webkit-scrollbar-thumb { 
	background: linear-gradient(180deg, #eb642e 0%, #e85c26 50%, #eb642e 100%); 
	box-shadow: inset 1px 0 1px black;
}
.job-recipe-container::-webkit-scrollbar-track { 
	box-shadow: inset 1px 0 1px black;
	background: #222; 
}

.job-recipe-slot {
	position: relative;
	width: 100%;
	height: 74px;
	border-bottom: 2px dashed var(--bg3);
	background: var(--bg0);
	cursor: pointer	;
}

.job-recipe-slot:hover {
	filter: brightness(1.2);
}

.job-recipe-slot-image {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
	height: 60px;
	width: 60px;
	background-size: 100%;
}

.job-recipe-slot-name  {
	position: absolute;
	top: 12px;
	left: 100px;
	color: var(--white);

	font-size: 18px;
}

.job-recipe-slot-level  {
	position: absolute;
	top: 36px;
	left: 100px;
	color: var(--white);

	font-size: 14px;
}

.job-recipe-slot-ingredient-container {
	position: absolute;
	top: 50%;
	right: 60px;
	transform: translate(0, -50%);
	width: 370px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: center;
}

.job-recipe-slot-ingredient {
	position: relative;
	width: 40px;
	height: 40px;
	background-size: 100%;
}

.job-recipe-search {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 20px;
	width: 250px;

	background-color: var(--white);
	border: 2px solid #3a3312;
	outline: none;

	font-size: 16px;
	color: #3a3312;
	
	padding-left: 5px;

}

.job-recipe-type {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 200px;
	height: 20px;
	color: var(--white);
}

.job-recipe-level {
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 200px;
	height: 20px;
	color: var(--white);
}

/* craft */

.craft-ingredient-container {
	position: absolute;
	width: 100%;
	height: 110px;
	background: var(--bg0);
}

.craft-ingredient-wraper {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 45px;
	right: 45px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 5px 10px;
}

.craft-ingredient-slot-pass {
	position: relative;
	width: 40px;
	height: 40px;
	background: var(--green);
	border-radius: 5px;
	box-shadow: inset 0 0 5px black;
	background-size: 100%;
}

.craft-ingredient-slot-need {
	position: relative;
	width: 40px;
	height: 40px;
	background: var(--red);
	border-radius: 5px;
	box-shadow: inset 0 0 5px black;
	background-size: 100%;
}

.craft-ingredient-slot-empty {
	position: relative;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	box-shadow: inset 0 0 5px black;
	background-size: 100%;
}

.craft-item-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 175px;
	background: var(--bg1);
	border-top: 1px solid black;
}

.craft-item-image {
	position: absolute;
	top: 15px;
	left: 20px;
	width: 60px;
	height: 60px;
	background-size: 100%;
	background-repeat: no-repeat;

}

.craft-item-name {
	position: absolute;
	top: 15px;
	right: 20px;
	height: 60px;
	display: flex;
	text-align: center;
	align-items: center;
	left: 100px;
	font-weight: bold;
	font-size: 20px;
	color: var(--white);
}

.craft-button-min, .craft-button-max, .craft-button-less, .craft-button-more {
	position: absolute;
	bottom: 55px;
	width: 50px;
	height: 28px;
	background: var(--bg3);
	outline: 1px solid black;
	border-radius: 3px;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: var(--white);
	cursor: pointer;
}

.craft-button-min { 
	left: 10px; 
	width: 50px;
}
.craft-button-max { 
	right: 10px; 
	width: 50px;
}
.craft-button-less { 
	left: 67px; 
	width: 28px;
}
.craft-button-more { 
	right: 67px; 
	width: 28px;
}

.craft-button-min:hover, .craft-button-max:hover, .craft-button-less:hover, .craft-button-more:hover {
	filter: brightness(1.2);
} 

.craft-item-amount {
	position: absolute;
	bottom: 55px;
	left: 50%;
	transform: translate(-50%);
	width: 80px;
	height: 28px;
	color: var(--white);
	text-align: center;
	background: #1a1b1b;
	outline: 1px solid #403e3e;
}

.craft-item-amount:focus {
    outline-color: #007BFF; /* Cambia a un color azul (o elige el que prefieras) */
}

.craft-button {
	position: absolute;
	bottom: 13px;
	left: 50%;
	transform: translate(-50%);
	height: 28px;
	width: 120px;
	font-size: 14px;
	letter-spacing: 2px;
	color: var(--white);
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	
	box-shadow: 0 0 1px black;
  	background: linear-gradient(to bottom, #f9a06e 0%, #e85c26 100%);

  	border-radius: 3px;
  	border: 1px inset #a5753a;
  	cursor: pointer;
 
}

.craft-button:hover {
	filter: brightness(1.2);
}

