.job-tab-container {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	display: flex;
 	flex-wrap: wrap;
 	overflow: hidden;
 	overflow-y: auto;
}

.job-tab-container::-webkit-scrollbar { width: 12px; }
.job-tab-container::-webkit-scrollbar-thumb { 
	background: linear-gradient(180deg, #eb642e 0%, #e85c26 50%, #eb642e 100%); 
	box-shadow: inset 1px 0 1px black;
}
.job-tab-container::-webkit-scrollbar-track { 
	box-shadow: inset 1px 0 1px black;
	background: #222; 
}

.job-tab {
	position: relative;
	width: 100%;
	height: 74px;
	background: #2f2925;
	outline: 1px solid black;
	cursor: pointer;
}

.job-tab:nth-child(2n) {
	background: #3c3731;
}

.job-tab:hover {
	filter: brightness(1.1);
}

.job-tab-image {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
	height: 60px;
	width: 60px;
	background-size: 100%;
}

.job-tab-name {
	position: absolute;
	top: 12px;
	left: 100px;
	color: #f4f5f4;

	font-size: 18px;
}

.job-tab-level {
	position: absolute;
	top: 12px;
	right: 40px;
	color: #f4f5f4;

	font-size: 18px;
}

.job-tab-exp-bar {
	position: absolute;
	bottom: 20px;
	left: 100px;
	right: 40px;
	height: 12px;
	background: #333;
	outline: 1px solid black;
}

.job-tab-exp {
	position: relative;
	height: 100%;
	background: var(--blue);
	border-right: 1px solid black;
}

/* jobs */
.job-recipe-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 350px;
	background: #2f2925;
 	border-top: 1px solid black;
 	overflow: hidden;
 	overflow-y: auto;
}

.job-recipe-container::-webkit-scrollbar { width: 12px; }
.job-recipe-container::-webkit-scrollbar-thumb { 
	background: linear-gradient(180deg, #eb642e 0%, #e85c26 50%, #eb642e 100%); 
	box-shadow: inset 1px 0 1px black;
}
.job-recipe-container::-webkit-scrollbar-track { 
	box-shadow: inset 1px 0 1px black;
	background: #222; 
}

.job-recipe-slot {
	position: relative;
	width: 100%;
	height: 74px;
	border-bottom: 1px solid black;
}

.job-recipe-slot:nth-child(2n) {
	background: #3c3731;
}
