.selector-container {
    display: flex;
    flex-wrap: wrap;
}

.selector-label {
    position: relative;
    width: 40%;
    height: 100%;
    text-align: left;
}

.selector-value {
    position: relative;
    width: 42%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.selector-arrow {
    position: relative;
    width: 9%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}