.skirmish-container {
    position: relative;
    height: 300px;
    width: 100%;
    background: var(--bg1); 
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;

    background-size: cover;
    overflow: hidden;
}

.skirmish-ubication-name {
    position: relative;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    color: var(--white);
    text-shadow: 1px 1px 2px black;
}

.skirmish-enemy-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    filter: drop-shadow(0 0 7px black);
    transition: .2s;
    background-position: center;
    cursor: pointer;
}


.skirmish-enemy-image:hover {
    filter: drop-shadow(0 0 12px black);
    transform: translate(-50%, -50%) scale(1.05);
}

.skirmish-enemy-name {
    position: absolute;
    left: 75px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 40px;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    text-shadow: 1px 1px 2px black;
    background: #222;
    border-radius: 5px 5px 0 0;

}

.skirmish-enemy-health-bar-container {
    position: absolute;
    bottom: 10px;
    left: 10%;
    width: 80%;
    height: 30px;
    background: #222;
    border-radius: 5px;
    border: 2px solid #222;
    overflow: hidden;
}

.skirmish-enemy-health-bar {
    position: relative;
    background: var(--green);
    width: 100%;
    height: 100%;
}

.skirmish-enemy-health {
      position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}