.status-container {
    height: 880px; 
    background: var(--bg1); 
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    overflow: hidden;
    text-shadow: 1px 1px 2px black;
}

.status-title {
	height: 40px;
	background: var(--bg3); 
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid black;
	font-weight: bold;
	color: var(--white);
}

.status-player-container {
	position: relative;
	width: 100%;
	height: 105px;
}

.status-portrait {
	position: absolute;
	top: 20px;
	left: 15px;
	width: 70px;
	height: 70px;
	box-shadow: inset 1px 1px 3px black, inset -1px -1px 3px black;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
}

.status-name {
	position: absolute;
	top: 18px;
	left: 100px;
	font-weight: bold;
	font-size: 20px;
	color: var(--white);
}

.status-level {
	position: absolute;
	top: 40px;
	left: 100px;
	font-size: 15px;
	color: var(--white);
}

.status-exp-container {
	position: absolute;
	width: 165px;
	height: 14px;
	top: 68px;
	left: 100px;
	background: var(--bg0);
	border-radius: 3px;
	outline: 1px solid black;
	overflow: hidden;
}

.status-exp {
	position: relative;
	height: 100%;
	outline: 1px solid black;
	background: var(--blue);
}

/* MAIN */
.status-main-container {
	position: relative;
	width: 100%;
	height: 135px;
}

.status-main-row {
	position: relative;
	left: 5%;
	width: 90%;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #777;
	color: var(--white);
}

.status-main-icon, .status-general-icon  {
	width: 24px;
	height: 24px;
	background-size: 100%;
}

.status-main-label, .status-general-label {
	position: relative;
	width: 45%;
	padding-left: 5px;
	font-weight: bold;
}

.status-main-value, .status-general-value {
	position: relative;
	width: 40%;
	font-weight: bold;
	text-align: right;
}

/* BASE */

.status-stat-title {
	position: absolute;
	left: 10px;
	right: 10px;
	border-bottom: 2px dashed #999;
	color: var(--white);
}

.status-base-container {
	position: relative;
	width: 100%;
	height: 175px;
}

.status-base-row, .status-general-row  {
	top: 35px;
	position: relative;
	left: 5%;
	width: 90%;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #777;
	color: var(--white);
}

.status-base-icon {
	width: 24px;
	height: 24px;
	background-size: 100%;
}

.status-base-label {
	position: relative;
	width: 45%;
	padding-left: 5px;
	font-weight: bold;
}

.status-base-value {
	position: relative;
	width: 30%;
	font-weight: bold;
	text-align: right;
}

.status-base-button {
	position: relative;
	left: 10px;
	width: 14px;
	height: 14px;
	line-height: 13px;
	border-radius: 2px;
	background: linear-gradient(180deg, #f9a06e 0%, #e85c26 100%);
	text-align: center;
	justify-content: center;
	outline: 1px solid #222;
	font-weight: bold;
	cursor: pointer;
	transition: .2s;
	text-shadow: 1px 1px 1px black, 0 0 4px black;
}

.status-base-button:hover {
	filter: brightness(1.5);
}

.status-base-button-disable {
	position: relative;
	left: 10px;
	width: 14px;
	height: 14px;
	line-height: 13px;
	border-radius: 2px;
	background:  linear-gradient(180deg, #999 0%, #777 100%);
	text-align: center;
	justify-content: center;
	outline: 1px solid #222;
	font-weight: bold;
	text-shadow: 1px 1px 1px black, 0 0 4px black;
}

.status-base-points-available {
	position: absolute;
	width: 100%;
	bottom: 5px;
	text-align: center;
}

.status-base-row-points {
	top: 45px;
	position: relative;
	left: 5%;
	width: 90%;
	align-items: center;
	display: flex;
	color: var(--white);
}

.status-base-label-points {
	position: relative;
	width: 80%;
	padding-left: 5px;
	font-weight: bold;
}

.status-base-value-points {
	position: relative;
	width: 20%;
	font-weight: bold;
	text-align: right;
	padding-right: 9px;
}

/* GENERAL */

.status-general-container {
	position: relative;
	width: 100%;
}
