.tooltip {
    position: absolute;
    width: 300px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 1000;
}

.tooltip-info-container {
    position: relative;

    height: auto;
    padding: 0px 0px 10px 20px;

    /* position: relative;
    width: 100%;
    height: 80px;
    padding: 0px 0px 10px 20px;
    background: red;*/
}

.tooltip-info-tittle {
    position: relative;
    padding-top: 10px;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
   /* position: absolute;
    top: 10px;
    left: 20px;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;*/
}

.tooltip-info-type {
    position: relative;
    color: var(--white);
    font-size: 12px;
    /*position: absolute;
    top: 35px;
    left: 20px;
    color: var(--white);
    font-size: 12px;*/
}

.tooltip-info-set {
    position: relative;
    color: #ebc189;
    font-size: 12px;
        line-height: 10px;
   /* position: absolute;
    top: 51px;
    left: 20px;
    color: #ebc189;
    font-size: 12px;*/
}

.tooltip-stat-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px 0px 10px 20px;
}

.tooltip-stat-exo {
    position: relative;
    color: #67a8fc;
    font-size: 16px;
    line-height: 18px;
}

.tooltip-stat-values {
    position: relative;
    font-size: 16px;
    line-height: 18px;
}

.tooltip-stat-craft {
    position: relative;
    padding-top: 15px;
    color: var(--white);
    font-size: 14px;
    line-height: 14px;
}

.tooltip-event-container {
    position: relative;
    width: 100%;
    height: fit-content;
}

.tooltip-event-guide {
    position: relative;
    padding: 0px 0px 10px 20px;
    color: var(--white);
    line-height: 14px;
    font-size: 12px;
}

.stat-green { color: #90e052; }
.stat-red { color: #fe8081; }
.stat-no { opacity: 0.5; }
.stat-craft { color: #ebc189; }
.stat-teoric {
    padding-left: 10px;
    color: #999;
}