.travel-condition {
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.8);	
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	text-shadow: 1px 1px 2px black;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	color: #c41034;
}

.travel-button {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%);
	height: 30px;
	width: 220px;
	background: var(--bg2);
	outline: 1px solid black;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	color: var(--white);
	line-height: 30px;
	text-shadow: 1px 1px 2px black;
	transition: .15s;
}

.travel-button:hover {
	background: var(--bg3);
	box-shadow: 0 0 3px black;
}