.window {
    position: absolute;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    overflow: hidden;
    cursor: default;
}

.window-header {
    height: 40px;
    background: var(--bg3); 
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: bold;
    color: var(--white);
    cursor: grab;
    background-image: url('../assets/images/textures/texture3.png');
}

.window-close {
    position: absolute;
    top: 0px;
    right: 15px;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.window-container {
    /*padding: 15px;
    background: var(--p1); 
    height: calc(100% - 40px);*/
    position: absolute;
    height: calc(100% - 40px);
    width: 100%;
    background: linear-gradient(45deg,var(--bg1) 0%, var(--bg2) 50%, var(--bg1) 100%);
}

