.zaap-button-container {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.zaap-button {
	position: relative;
	height: 30px;
	width: 220px;
	background: var(--bg2);
	outline: 1px solid black;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	color: var(--white);
	line-height: 30px;
	text-shadow: 1px 1px 2px black;
	transition: .15s;
}

.zaap-button:hover {
	background: var(--bg3);
	box-shadow: 0 0 3px black;
}

.zaap-list {
	display: none;
 	position: absolute;
 	top: 25px;
 	left: 50%;
 	transform: translate(-50%);
 	width: 440px;
 	height: 200px;
 	background: var(--bg2);
	outline: 1px solid black;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	flex-wrap: wrap;
	flex-direction: column;
	overflow-y: auto;
}

.zaap-row {
	position: relative;
	width: 100%;
	height: 30px;
	background: var(--bg3);
	outline: 1px solid black;
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
	
	line-height: 30px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;

	cursor: pointer;
	transition: .1s;
}

.zaap-row:nth-child(2n) {
	background: var(--bg1);
}

.zaap-row:hover {
	filter: brightness(1.2);
}

.zaap-name, .zaap-price {
    position: relative;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.zaap-name {
    color: var(--white);
}

.zaap-price {
    color: var(--yellow);
}